<div id="header">
  <div class="container">
    <div class="row">
      <h1> All posts </h1>
      <br>
      <table class="table">
        <% @posts.each do |post| %>
          <tr><a href="<%= post_url(post.id) %>"><%= post.title %></a></tr> by
          <tr><%= find_user_email(post.user_id) %></tr> at 
          <tr><%= post.created_at %></tr>
          <br>
        <% end %>
      </table>

    </div>
  </div>
  <br>
  <br>
  <%= button_to 'Create a new post', new_post_path, :method => :get %>
</div>
