<div id="header">
  <div class="container">
    <div class="row">
      <h1> Post </h1>
      <br>
      Post title: <%= @post.title %>
      <br>
      <br>
      Post content: <%= @post.content %>
      <br>
      <br>
      Post replies:
      <br>
      <% @post.replies.each do |reply| %>
        <%= reply.body %> by
        <%= find_user_email(reply.user_id) %> at
        <%= reply.created_at %>
        <br>
      <% end %>
      <br>
      <%= button_to 'Edit', edit_post_path, :method => :get %>
      <br>
      <%= button_to 'Destroy', post_path, :confirm => 'Are you sure?', :method => :delete %>
      <br>
      <%= button_to 'Reply', new_post_reply_path(@post.id), :method => :get %>
    </div>
  </div>
</div>
